{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "jasmine": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "react/destructuring-assignment": 0,
    "default-case": 1,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/href-no-hash": 0,
    "prefer-destructuring": 0,
    "react/no-unused-state": 1,
    "no-unused-vars": 1,
    "no-param-reassign": 0,
    "react/sort-comp": 1,
    "no-multi-assign": 0,
    "no-prototype-builtins": 0,
    "react/no-did-update-set-state": 0,
    "react/no-this-in-sfc": 0,
    "react/no-unescaped-entities": 0,
    "react/no-find-dom-node": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "fetch": true
  }
}